<app-nav-bar></app-nav-bar> 
<div class="about_image">
    <img src="../../../assets/images/Multicultural Communities vector 1.jpg">
</div>
<div class="form">
    <div class="form-content">
        <h1>Feedback...</h1>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <span class="p-float-label">
                        <textarea inputId="textarea" rows="1" style="resize: none;" cols="28" pInputTextarea></textarea>
                        <label for="textarea">Name</label>
                    </span>        
                </div>
            </div>
            <div class="p-col-12 p-md-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                    <span class="p-float-label">
                        <textarea inputId="textarea" rows="1" style="resize: none;" cols="28" pInputTextarea></textarea>
                        <label for="textarea">Email</label>
                    </span>         
                </div>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
                    <textarea inputId="textarea" rows="3" style="resize: none;" cols="33" pInputTextarea></textarea>
                    <label for="textarea">Comment</label>
                </span>
            </div>
        </div>
    
        <button style="width: 100px;" pButton pRipple type="button" label="Send" class="p-button-raised p-button-info p-button-rounded" icon="pi pi-send" iconPos="right"></button>
    </div>
</div>